<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    <div class="flex flex-col h-full">
        <div class="">
            {{- partial "header.html" . -}}
        </div>
        <div class="flex-grow flex-shrink-0">
            {{- block "main" . }}{{- end }}
        </div>
        <div class="flex-shrink-0">
            {{- partial "footer.html" . -}}
        </div>
    </div>

    {{ $js := resources.Get "js/dist/main.js" }}
    <script src=" {{ $js.RelPermalink }}">
    </script>
</body>

</html>