<div>
  <div class="w-full bg-indigo-50 h-20 flex justify-center">
    <div class="text-left flex items-center justify-start h-full container">
      <div class="font-sans  text-xs text-black">
        <p class="mt-px uppercase">&copy; 2021 Made by Zuzanna </p>
        <p class="font-sans text-xs text-black"> (with a little help from <a
            href="https://filipkrw.io/?fbclid=IwAR1OPTNTX1PWTUGPBQQUrEMfbipLZTypYBTEYg-tqf4k3mvGnxIaSeednO8">Filip</a>
          &hearts;)</p>
      </div>
    </div>
  </div>
</div>