{{ define "main" }}
<div class="container mx-auto flex">
    <div class="w-full">
        <div class="flex justify-center w-full">
            <h2 class="font-serif text-3xl text-center">
                Habits
            </h2>
        </div>
        <div class="text-xs tracking-wider my-3 mt-14 mb-7 uppercase">This week</div>
        <div class="flex justify-between items-center mb-20">
            <div class="text-2xl font-serif w-16">Solidworks</div>
            <div class="flex justify-between items-center">
                <div
                    class="text-l font-serif border rounded-full h-8 w-8 border-indigo-100 flex items-center justify-center shadow mx-2">
                    M</div>
                <div
                    class="text-l font-serif border rounded-full h-8 w-8 border-indigo-100 flex items-center justify-center shadow mx-2">
                    T</div>
                <div
                    class="text-l font-serif border rounded-full h-8 w-8 border-indigo-100 flex items-center justify-center shadow mx-2">
                    W</div>
                <div
                    class="text-l font-serif border rounded-full h-8 w-8 border-indigo-100 flex items-center justify-center shadow mx-2">
                    T</div>
                <div
                    class="text-l font-serif border rounded-full h-8 w-8 border-indigo-100 flex items-center justify-center shadow mx-2">
                    F</div>
                <div
                    class="text-l font-serif border rounded-full h-8 w-8 border-indigo-100 flex items-center justify-center shadow mx-2">
                    S</div>
                <div
                    class="text-l font-serif border rounded-full h-8 w-8 border-indigo-100 flex items-center justify-center shadow mx-2">
                    S</div>
            </div>
            <div class="font-serif text-base"><span class="font-serif text-2xl">0</span> of 7 days</div>
            <div class="font-serif text-base">Tagret met <span class="text-2xl">0</span> weeks in the row.</div>
        </div>
        <div class="flex justify-between items-center mb-20">
            <div class="text-2xl font-serif w-16">Drawing</div>
            <div class="flex justify-between items-center">
                <div
                    class="text-l font-serif border rounded-full h-8 w-8 border-indigo-100 flex items-center justify-center shadow mx-2">
                    M</div>
                <div
                    class="text-l font-serif border rounded-full h-8 w-8 border-indigo-100 flex items-center justify-center shadow mx-2">
                    T</div>
                <div
                    class="text-l font-serif border rounded-full h-8 w-8 border-indigo-100 flex items-center justify-center shadow mx-2">
                    W</div>
                <div
                    class="text-l font-serif border rounded-full h-8 w-8 border-indigo-100 flex items-center justify-center shadow mx-2">
                    T</div>
                <div
                    class="text-l font-serif border rounded-full h-8 w-8 border-indigo-100 flex items-center justify-center shadow mx-2">
                    F</div>
                <div
                    class="text-l font-serif border rounded-full h-8 w-8 border-indigo-100 flex items-center justify-center shadow mx-2">
                    S</div>
                <div
                    class="text-l font-serif border rounded-full h-8 w-8 border-indigo-100 flex items-center justify-center shadow mx-2">
                    S</div>
            </div>
            <div class="font-serif text-base"><span class="font-serif text-2xl">0</span> of 5 days</div>
            <div class="font-serif text-base">Tagret met <span class="text-2xl">0</span> weeks in the row.</div>
        </div>
        <div class="flex justify-between items-center mb-20">
            <div class="text-2xl font-serif w-16">Workout</div>
            <div class="flex justify-between items-center">
                <div
                    class="text-l font-serif border rounded-full h-8 w-8 border-indigo-100 flex items-center justify-center shadow mx-2">
                    M</div>
                <div
                    class="text-l font-serif border rounded-full h-8 w-8 border-indigo-100 flex items-center justify-center shadow mx-2">
                    T</div>
                <div
                    class="text-l font-serif border rounded-full h-8 w-8 border-indigo-100 flex items-center justify-center shadow mx-2">
                    W</div>
                <div
                    class="text-l font-serif border rounded-full h-8 w-8 border-indigo-100 flex items-center justify-center shadow mx-2">
                    T</div>
                <div
                    class="text-l font-serif border rounded-full h-8 w-8 border-indigo-100 flex items-center justify-center shadow mx-2">
                    F</div>
                <div
                    class="text-l font-serif border rounded-full h-8 w-8 border-indigo-100 flex items-center justify-center shadow mx-2">
                    S</div>
                <div
                    class="text-l font-serif border rounded-full h-8 w-8 border-indigo-100 flex items-center justify-center shadow mx-2">
                    S</div>
            </div>
            <div class="font-serif text-base"><span class="font-serif text-2xl">0</span> of 5 days</div>
            <div class="font-serif text-base">Tagret met <span class="text-2xl">0</span> weeks in the row.</div>
        </div>
    </div>
</div>

{{ end }}