{{ define "main" }}
<div class="flex flex-col items-center">
    <div class="container">
        <div class="text-center flex flex-col items-center">
            <ul class="uppercase text-xs">
                <li class="inline-block mr-3">Studia</li>
                <li class="inline-block">Design</li>
            </ul>
            <h2 class="font-serif text-4xl mt-4 mb-8" style="width: 60%">Lorem ipsum dolor sit amet consectetur, adipisicing
                elit.</h2>
        </div>
    </div>
    
    <div class="container">
        <div class="h-96 bg-fixed w-full bg-center bg-cover" style="background-image: url('{{ .Site.BaseURL }}/img/piekne-krzeselko.png');">
            <!-- <img src="{{ .Site.BaseURL }}/img/piekne-krzeselko.png" alt=""> -->
        </div>
    </div>
    
    <div class="container flex justify-center">
        <div class="my-6 font-serif text-xl leading-7" style="width: 70%">
            <p class="my-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit dicta ab corrupti, in perspiciatis
                molestiae quae hic quod rerum quam deleniti saepe architecto velit magnam omnis maxime nostrum quas
                reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nobis perferendis tenetur
                nulla deleniti debitis voluptates officia iusto placeat hic! Quod autem unde, illo error ipsum eius omnis
                velit sed! Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eum ut, blanditiis magnam illum
                non totam sint accusantiumodit ab aperiam eaque consequatur, possimus sunt doloremque? Corrupti itaque
                assumenda molestias?</p>
            <p class="my-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nam possimus minus laboriosam cupiditate
                saepe, fugit in error amet sunt odio sint mollitia ipsum quia libero eius quod repellendus harum. Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Laudantium est tenetur necessitatibus nobis praesentium
                consectetur esse ratione enim eaque nihil molestias mollitia deleniti, magnam, beatae provident, quibusdam
                velit id quo.</p>
        </div>
    </div>
</div>
{{ end }}