@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1.5em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #4691f6;
  }
  
  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }

  /* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1.5em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #4691f6;
  }
  
  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }