@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.vertical-align-top {
  vertical-align: top;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */
.svg-icon {
  width: 1.5em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

/* -----
Text reveal
----- */

.text-reveal {
  opacity: 0;
  transform: translateY(30px);
  transition-duration: 0.5s;
}

.text-reveal-show {
  opacity: 1;
  transform: translateY(1px);
}
